.modal {
    z-index: 1;
    position: fixed;
    height: fit-content;
    width: 460px;
    background-color: rgba(236, 236, 236, 0.9);
    padding: 40px 80px 50px;
    top: 25%;
    left: 50%;
    margin-left: -230px;
    box-sizing: border-box;
    border-radius: 15px;
    flex-flow: column nowrap;
}
